@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800&display=swap");
*,
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  color: #7b7b7b;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.d-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justfy-sp {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.align-c {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-c {
  text-align: center;
}

.btn-primary {
  height: 58px;
  width: 300px;
  background: #21e09d;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.btn-primary:hover {
  background: #4ee6b1;
}

.btn-primary-white-text {
  height: 74px;
  width: 370px;
  background: #21e09d url("../images/icon-arrow-white.svg") no-repeat 90% center;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.btn-primary-white-text:hover {
  background: #4ee6b1 url("../images/icon-arrow-white.svg") no-repeat 92% center;
}

.btn-secondary {
  height: 74px;
  width: 370px;
  background: #fff url("../images/icon-arrow-black.svg") no-repeat 90% center;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: #002d70;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.btn-secondary:hover {
  background: #fff url("../images/icon-arrow-black.svg") no-repeat 92% center;
}

nav {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

nav .logo img.scroll {
  display: none;
}

nav.fixed {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fff;
  -webkit-box-shadow: 0 3px 36px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 36px rgba(0, 0, 0, 0.16);
}

nav.fixed .logo img {
  display: none;
}

nav.fixed .logo img.scroll {
  display: block;
}

nav.fixed ul li a {
  color: #434343;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 0;
}

.navbar .mobile-menu {
  display: none;
}

.navbar .logo {
  width: 130px;
  height: 48px;
  display: block;
  position: absolute;
  top: 18px;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0 auto 0 auto;
  padding: 0;
}

.navbar ul li {
  margin: 0 20px;
}

.navbar ul li a {
  font-size: 16px;
  color: #f5f5f5;
  text-decoration: none;
}

.navbar ul li.active a {
  font-weight: bold;
}

section {
  padding: 75px 0;
}

section h3 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  color: #002d70;
  font-weight: 800;
}

section h4 {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  color: #21e09d;
  font-weight: 800;
}

section h4 span {
  color: #21e09d;
}

section p {
  font-size: 16px;
  line-height: 26px;
  color: #000;
}

.banner {
  background: url("../images/banner-image.jpg") no-repeat right center;
  position: relative;
  padding: 20px 0;
  background-size: 40% auto;
}

.banner .breadcrumbs {
  font-size: 18px;
}

.banner .breadcrumbs a {
  text-decoration: none;
  color: #0460eb;
}

.banner .banner-content {
  height: calc(100vh - 100px);
  min-height: 600px;
  max-width: 750px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  z-index: 4;
  text-align: left;
}

.banner .banner-content figure {
  margin-bottom: 50px;
}

.banner .banner-content h2 {
  font-size: 56px;
  line-height: 66px;
  color: #002d70;
  font-weight: 800;
  margin-bottom: 25px;
}

.banner .banner-content p {
  max-width: 90%;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 35px;
  font-weight: 500;
}

.about {
  background: #f5f5f5;
  overflow: hidden;
}

.about p {
  max-width: 909px;
  margin-bottom: 30px;
}

.about figure {
  max-width: 100%;
  margin-left: 100px;
}

.howitsworks p {
  max-width: 880px;
  margin: 0 auto;
}

.service-list {
  padding: 30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -0;
  margin: right 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.service-list .service-item {
  padding: 40px 40px 20px 0;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0;
  max-width: 33%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.service-list .service-item .service-decription {
  width: calc(100% - 117px);
  text-align: left;
}

.service-list .service-item figure {
  width: 140px;
  height: 125px;
  margin: 0 auto 30px;
}

.service-list .service-item figure img {
  max-width: 100%;
}

.service-list .service-item h5 {
  font-size: 20px;
  margin-bottom: 13px;
  color: #000;
}

.service-list .service-item p {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 15px;
  color: #555555;
}

.our-product {
  padding: 0;
  background: #e1edff;
}

.our-product .product-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-product .product-wrap figure {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-product .product-wrap figure img {
  width: 100%;
  display: block;
  margin: 100px auto;
  max-width: 530px;
}

.our-product .product-wrap .product-description {
  width: 50%;
  padding: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 50px 0 25px;
}

.our-product h4 {
  color: #002d70;
  margin-left: 33px;
}

.our-product p {
  color: #000;
  margin-bottom: 25px;
}

.our-product .service-item {
  max-width: 675px;
  padding: 20px 33px 15px;
  margin: 0;
  border-radius: 8px;
}

.our-product .service-item h6 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #000000;
}

.our-product .service-item p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

.our-product .service-item.selected {
  padding: 23px 33px;
  background: #002d70;
}

.our-product .service-item.selected h6 {
  color: #fff;
}

.our-product .service-item.selected p {
  color: #fff;
}

.hardware {
  text-align: center;
}

.hardware .hardware-lits {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hardware .hardware-lits .hardware-lits-item {
  max-width: 175px;
  height: 175px;
  width: 100%;
  margin: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: solid 1px #d9d9d9;
  border-radius: 6px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.hardware .hardware-lits .hardware-lits-item figure {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-height: 75px;
  padding: 5px;
  margin-bottom: 15px;
}

.hardware .hardware-lits .hardware-lits-item figure img {
  max-width: 100%;
  max-height: 100%;
}

.hardware .hardware-lits .hardware-lits-item figcaption {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}

.hardware .hardware-lits .hardware-lits-item:hover {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
}

.faq {
  background: #f3fefa;
  text-align: center;
}

.faq h4 {
  color: #002d70;
}

.faq .accordion-container {
  max-width: 880px;
  margin: 80px auto 0;
}

.faq .set {
  min-height: 60px;
  border: solid 1px #d9d9d9;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 6px;
}

.faq .set.active {
  background: #e1edff;
  border-color: #e1edff;
}

.faq .set.active a:after {
  border-left: solid 7px transparent;
  border-top: transparent;
  border-bottom: solid 8px #000;
  border-right: solid 7px transparent;
}

.faq .set a {
  text-align: left;
  padding: 20px 20px;
  font-size: 18px;
  display: block;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
  position: relative;
}

.faq .set a::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 25px;
  border-left: solid 7px transparent;
  border-top: solid 8px #000;
  border-right: solid 7px transparent;
  border-radius: 6px;
}

.faq .set .content {
  padding: 0 20px 20px;
  display: none;
}

.faq .set .content p {
  text-align: left;
  font-size: 14px;
  line-height: 22px;
}

.business {
  background: #002d70;
  padding: 30px 0;
}

.business .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.business .container h4 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

footer {
  background: #fff;
  padding: 50px 0;
}

footer .footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-wrap figure {
  width: 185px;
  margin-right: 65px;
}

footer h6 {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 15px;
  color: #000;
}

footer .social {
  margin-bottom: 50px;
}

footer .social a {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 50px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

footer .social a img {
  width: 100%;
  height: 100%;
}

footer .social a:hover {
  opacity: 0.6;
}

footer p {
  color: #000;
}

footer p a {
  color: #000000;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

footer p a:hover {
  opacity: 0.6;
}

footer p span {
  color: #7b7b7b;
  margin: 0 25px;
}

@media (max-width: 1024px) {
  .d-f {
    display: block;
  }
  .navbar {
    padding: 15px 0;
    min-height: 50px;
  }
  .navbar .logo img {
    width: 120px;
  }
  .navbar .mobile-menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    margin-left: auto;
  }
  .navbar .mobile-menu img {
    width: 30px;
    background: #fff;
    padding: 2px 5px;
    border-radius: 2px;
  }
  .navbar ul {
    position: absolute;
    left: 0;
    top: 100%;
    background: #f3fefa;
    width: 100%;
    display: block;
    opacity: 0;
    visibility: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 15px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .navbar ul li {
    line-height: 30px;
    margin: 0;
  }
  .navbar ul li a {
    color: #000;
  }
  .navbar ul.active {
    opacity: 1;
    visibility: visible;
  }
  .breadcrumbs {
    margin-bottom: 20px;
  }
  .banner {
    background-size: auto 30%;
    background-position: top right;
  }
  .banner .banner-content {
    padding: 0;
    height: auto;
    min-height: auto;
  }
  .banner .banner-content figure {
    margin-bottom: 10px;
    margin-top: 100px;
    width: 250px;
  }
  .banner .banner-content figure img {
    max-width: 80%;
  }
  .banner .banner-content h2 {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 10px;
  }
  .banner .banner-content p {
    font-size: 16px;
    line-height: 24px;
    max-width: 100%;
    margin-bottom: 25px;
  }
  .btn-primary,
  .btn-primary-white-text,
  .btn-secondary {
    width: auto;
    max-width: 450px;
  }
  section {
    padding: 40px 0;
  }
  section h3 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  section h4 {
    font-size: 30px;
    line-height: 40px;
  }
  section p {
    font-size: 18px;
  }
  .about figure {
    margin-right: 0;
    margin-left: 0;
  }
  .about figure img {
    width: 100%;
  }
  .service-list {
    display: block;
    padding-bottom: 0;
    margin: 0;
    padding: 40px 0 0;
  }
  .service-list .service-item {
    padding-right: 0;
  }
  .service-list .service-item {
    margin: 0;
    margin-bottom: 15px;
    width: 100%;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 0;
    padding: 10px 0 10px 0;
  }
  .service-list .service-item figure {
    width: 75px;
  }
  .service-list .service-item .service-decription {
    width: calc(100% - 95px);
  }
  .our-product h4 {
    margin: 0;
    text-align: center;
  }
  .our-product .service-item {
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
  }
  .our-product .product-wrap {
    display: block;
  }
  .our-product .product-wrap figure {
    width: 100%;
    height: 200px;
    padding-top: 25px;
  }
  .our-product .product-wrap figure {
    height: 200px;
  }
  .our-product .product-wrap figure img {
    margin: 20px auto;
  }
  .our-product .product-wrap .product-description {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 25px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .our-product .product-wrap .product-description h4 {
    margin-bottom: 0;
  }
  .faq .accordion-container {
    margin: 30px auto 0;
  }
  .faq .accordion-container .set {
    line-height: 28px;
  }
  .faq .accordion-container .set a:after {
    top: 30px;
  }
  .business .container {
    display: block;
  }
  .business .container h4 {
    margin-bottom: 25px;
  }
  .business .container .btn-primary {
    width: 100%;
  }
  .hardware .hardware-lits {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-left: -7.5px;
    margin-right: -7.5px;
  }
  .hardware .hardware-lits .hardware-lits-item {
    max-width: calc(50% - 22px);
    margin: 0 7.5px 15px;
    height: 210px;
  }
  .hardware .hardware-lits .hardware-lits-item figure {
    height: 125px;
    padding: 20px;
  }
  .hardware .hardware-lits .hardware-lits-item figcaption {
    font-size: 18px;
  }
  .contactus .container {
    display: block;
  }
  div.modal {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  .modal .modal-content {
    width: auto;
  }
  .contactus .contact-form {
    padding: 0;
  }
  .contactus .contact-card {
    width: auto;
    padding: 30px 25px;
    margin-top: 25px;
    border-radius: 6px;
  }
  footer .footer-wrap {
    display: block;
  }
  footer .footer-wrap figure {
    margin-bottom: 25px;
  }
  footer .social {
    margin-bottom: 20px;
  }
  footer .social a {
    margin-right: 10px;
  }
  footer p {
    line-height: 30px;
  }
}

body.popup-enabled {
  overflow: hidden;
}
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 999;
  /* Sit on top */
  padding: 0;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100vh;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: none;
  width: 100%;
  max-width: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 35px;
  font-weight: normal;
  line-height: 30px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.contactus .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contactus .contact-form {
  /* padding: 55px 45px 35px; */
  background: #fff;
}

.contactus .contact-form h5 {
  margin-bottom: 14px;
  font-size: 32px;
  line-height: 42px;
  color: #002d70;
  font-weight: 800;
}

.contactus .contact-form .contact-tab {
  margin-bottom: 14px;
}

.contactus .contact-form .contact-tab span {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  padding: 7px 20px;
  font-weight: bold;
  background: #e1edff;
  font-size: 14px;
  margin: 0 12px 12px 0;
  color: #002d70;
  border-radius: 20px;
}

.contactus .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: -6px;
  margin-right: -6px;
  margin-bottom: 15px;
}

.contactus .form-group textarea.form-control {
  height: 100px;
  padding: 14px;
  resize: none;
}

.contactus .form-group .form-control {
  width: 100%;
  margin: 0 6px;
  height: 48px;
  padding: 0 14px;
  color: #7b7b7b;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  border: solid 1px #d9d9d9;
  border-radius: 6px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.contactus .form-group .form-control:focus {
  border-color: #002d70;
}

.contactus .form-group.m-b-10 {
  margin-bottom: 10px;
}

.contactus .form-group.m-l-0 {
  margin-left: 0;
}

.contactus p {
  font-size: 14px;
  color: #7b7b7b;
}

.contactus .btn-form {
  height: 48px;
  width: 180px;
  background: #21e09d;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  outline: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: 0;
  display: block;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.contactus .btn-form:hover {
  background: #4ee6b1;
}

.contactus .contact-card {
  width: 350px;
  padding: 60px 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #002d70;
  border-radius: 0 8px 8px 0;
}

.contactus .contact-card h5 {
  color: #21e09d;
  font-size: 24px;
  margin-bottom: 25px;
}

.contactus .contact-card h6 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #fff;
}

.contactus .contact-card p {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin-bottom: 30px;
}

.contactus .contact-card p a {
  color: #fff;
}

.steps {
  text-align: start;
  padding-left: 20px;
}
.steps li {
  color: #fff;
  padding: 2px;
  font-size: 16px;
}
/*# sourceMappingURL=screen.css.map */
